@model Vy_TicketPurchase_Core.ViewModels.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>title</title>
</head>
<body>

<table>
    <thead>
    <th scope="col">Stations</th>
    <th scope="col">Types"</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    </thead>
    <tbody>
    <tr>
        @foreach (var station in Model.Stations)
        {
            <td>
                <div>
                    <div class="ticket">
                        <div>
                            <label>ID: </label>
                            @Html.DisplayFor(model => station.Id)
                            <br/>
                            <label>Stasjons navn: </label>
                            @Html.DisplayFor(model => station.StationName)
                            <br/>

                            <button class="btn btn-primary">
                                @Html.ActionLink("Edit Station", "EditStation", "Admin", new {id = station.Id})
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        }
    </tr>
    <tr>
        @foreach (var type in Model.Types)
        {
            <td>
                <div>
                    <div class="ticket">
                        <div>
                            <label>ID: </label>
                            @Html.DisplayFor(model => type.Id)
                            <br/>
                            <label>Stasjons navn: </label>
                            @Html.DisplayFor(model => type.Type)
                            <br/>
        
                            <button class="btn btn-primary">
                                @Html.ActionLink("Edit Station", "EditStation", "Admin", new {id = type.Id})
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        }
    </tr>
    </tbody>


</table>

</body>
</html>