@model Vy_TicketPurchase_Core.ViewModels.AdminModel

@{
    ViewBag.Title = "Admin";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>title</title>
</head>
<body>

<table class="table">
    <thead>
    <th scope="col">Stasjoner</th>
    <th scope="col">Pasasjer Typer</th>
    <th scope="col">Avreiser</th>
    <th scope="col">Handle</th>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Stations.Count; i++)
    {
        <tr>
            <th class="w-25">
                <div class="ticket">
                    <div>
                        <label>ID: </label>
                        @Html.DisplayFor(model => model.Stations[i].Id)
                        <br/>
                        <label>Stasjons navn: </label>
                        @Html.DisplayFor(model => model.Stations[i].StationName)
                        <br/>
                        @Html.ActionLink("Endre Stasjon", "EditStation", "Admin",
                            new {id = Model.Stations[i].Id}, new {@class = "btn btn-primary"})
                    </div>
                </div>
            </th>
            <th class="w-25">
                @if (i < @Model.Types.Count)
                {
                    <div class="ticket">
                        <label>ID: </label>
                        @Html.DisplayFor(model => model.Types[i].Id)
                        <br/>
                        <label>Passasjer type: </label>
                        @Html.DisplayFor(model => model.Types[i].Type)
                        <br/>

                        @Html.ActionLink("Endre Type", "EditPassengerType", "Admin",
                            new {id = Model.Types[i].Id}, new {@class = "btn btn-primary"})

                    </div>
                }
            </th>
            
            <th>
                @if (i < @Model.Departures.Count)
                {
                    <div class="ticket">
                        <label>ID: </label>
                        @Html.DisplayFor(model => model.Departures[i].Id)
                        <br/>
                        <label>Avreise: </label>
                        @Html.DisplayFor(model => model.Departures[i].departureTime)
                        <br/>

                        @Html.ActionLink("Edit Avreise", "EditDeparture", "Admin",
                            new {id = Model.Departures[i].Id}, new {@class = "btn btn-primary"})

                    </div>
                }
            </th>
        </tr>
    }
    </tbody>
</table>

</body>
</html>