@model Vy_TicketPurchase_Core.Models.ViewModels.ListModel

@{
    ViewBag.Title = "List Testing";
    Layout = "_Layout";
}

<h1>This is the testing area for the ListModel! For Science.</h1>

@foreach (var ticket in Model.Tickets)
{
    <p>
    @ticket.FromStation - @ticket.ToStation <br/>
    Fornavn: @ticket.CustomerGivenName <br/>
    Etternavn: @ticket.CustomerLastName <br />
    Telfonnummer: @ticket.CustomerNumber <br/>
    Gyldig fra: @ticket.ValidFromDate <br/>
    </p>                  
}