@model Model.ViewModels.IndexModel

@{
    ViewBag.Title = "LogIn";
}

<div id="loginmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               
                @using (Html.BeginForm("LogIn", "Vy", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.User.UserName, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.User.UserName, "", new {@class = "text-danger"})
                            </div>
                        </div>
                
                        <div class="form-group">
                            @Html.LabelFor(model => model.User.Password, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.User.Password, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.User.Password, "", new {@class = "text-danger"})
                            </div>
                        </div>
                
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log inn" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                    
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Lukk</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnloginModal">Log in</button>
            </div>
        </div>
    </div>
</div>