@model Model.RepositoryModels.RepositoryModelPassengerType


@{
    ViewBag.Title = "Edit Station";
    Layout = "_Layout";
}
@using (Html.BeginForm("EditPassengerType", "Admin", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new
        {
            @class = "text-danger"
        })
        <div class="form-group">
            @Html.LabelFor(model => model.PriceMultiplier, htmlAttributes: new
            {
                @class = "control-label col-md-2"
            })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PriceMultiplier, new
                {
                    htmlAttributes = new
                    {
                        @class = "form-control"
                    }
                })
                @Html.ValidationMessageFor(model => model.PriceMultiplier, "", new
                {
                    @class = "text-danger"
                })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-success" id="btn-submit">Lagre<span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
}