@model Model.ViewModels.ListModel

@{
    ViewBag.Title = "Billettliste";
    Layout = "_Layout";
}

@Html.AntiForgeryToken()
<div class="ticket">
    <div>
        <label>Reise: </label>
        @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].FromStation) - @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].ToStation) <br/>

        <label>Gyldig Fra: </label>
        @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].ValidFromDate) @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].ValidFromTime) <br/>

        <label>Pris: </label>
        @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].Price),- <br/>

        <label>Navn: </label>
        @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].CustomerGivenName) @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].CustomerLastName) <br/>

        <label>Tlf Nummer: </label>
        @Html.DisplayFor(model => model.Tickets[(Model.Tickets.Count - 1)].CustomerNumber)
    </div>
</div>